name: Bimdata-viewer-sdk

on: 
  repository_dispatch:
    types: [semantic-release]

jobs:
  test:
    runs-on: [self-hosted, common]
    if: contains('
      refs/heads/master
      refs/heads/main'
      , github.event.client_payload.ref)
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Wait for npm package
        id: viewer-install
        timeout-minutes: 2
        run: |
          while ! npm install @bimdata/viewer@${{ github.event.client_payload.viewer-version }} --save; do
            sleep 5
          done
          GITDIFF=$(git diff -- package-lock.json | tr '\n' ' ')
          echo "gitdiff=$GITDIFF" >> $GITHUB_OUTPUT
      - name: Commit diff
        if: steps.viewer-install.outputs.gitdiff
        uses: EndBug/add-and-commit@v9
        with:
          add: "package-lock.json package.json"
          message: "chore: bump @bimdata/viewer@${{ github.event.client_payload.viewer-version }} from Github Actions [skip ci]"
