name: Bimdata-viewer-sdk

on: 
  repository_dispatch:
    types: [semantic-release]

jobs:
  test:
    runs-on: self-hosted
    if: contains('
      refs/heads/master
      refs/heads/main'
      , github.event.client_payload.ref)
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "16"
      - name: Wait for npm package
        id: viewer-install
        timeout-minutes: 2
        run: |
          while ! npm install @bimdata/viewer@${{ github.event.client_payload.viewer-version }} --save; do
            sleep 5
          done
          GITDIFF=$(git diff -- package-lock.json) && echo "::set-output name=gitdiff::$GITDIFF"
      - name: Commit diff
        if: steps.viewer-install.outputs.gitdiff
        uses: EndBug/add-and-commit@v7
        with:
          add: "package-lock.json package.json"
          message: "chore: bump @bimdata/viewer@${{ github.event.client_payload.viewer-version }} from Github Actions [skip ci]"
